<h1>記録一覧</h1>

<div class="container">
  <div id="new-blog-link">
    <%= link_to '新規ブログを作成', new_blog_path %>
  </div>

  <div class="row">
    <% @blogs.each do |blog| %>
      <div class="col-xs-12 col-md-6 blog-panel">
        <h2><%= blog.title %></h2>
        <p><%= blog.content %></p>
        <div class="blog-links">
          <%if @current_user.id == blog.user_id%>
            <%= link_to '詳細', blog, class: 'btn btn-default' %>
            <%= link_to '編集', edit_blog_path(blog), class: 'btn btn-info' %>
            <%= link_to '削除', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          <% else %>
            <%= link_to '詳細', blog, class: 'btn btn-default' %>
          <% end%>
        </div>
        <p>投稿者:<%= blog.user.name %></p>
      </div>
    <% end %>
  </div>
</div>
