<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>
<p>
  <strong>プロフ画像:</strong>
  <%= image_tag @user.image %>
</p>

<h3>お気に入りしたブログ</h3>
<div class="favorites_blogs">
  <% @favorites_blogs.each do |favorites_blog| %>
  <p>タイトル：<%= favorites_blog.title %></p>
  <p>本文：<%= favorites_blog.content %></p>
  <p>投稿者：<%= favorites_blog.user.name %></p>
  <% end %>
</div>
